export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
DISABLE_AUTO_UPDATE="true"

EDITOR=nvim

plugins=(z fzf zsh-autosuggestions zsh-syntax-highlighting zsh-history-substring-search)

# Add additional paths
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.local/scripts:$PATH"

{{ if eq .chezmoi.hostname "LAPTOP-QUENTIN" }}
# config perso
# export PATH="$HOME/.symfony5/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

source "$HOME/.cargo/env"
{{ end }}

# Initialize asdf with completions
. "$HOME/.asdf/asdf.sh"

alias vim="nvim"
alias tms="tmux-sessionizer"

source $ZSH/oh-my-zsh.sh

# Initialize starship
eval "$(starship init zsh)"

