{{ if (or (eq .chezmoi.hostname "LAPTOP-QUENTIN") (eq .chezmoi.hostname "laptop-quentin")) }}
[user]
  name = Quentin
  email = contact@yovach.dev
  signingkey = /home/quentin/.ssh/id_ed25519.pub
{{ end }}
[init]
  defaultBranch = main

[core]
  editor = vim
  eol = lf
  autocrlf = false

[pull]
  rebase = true

[commit]
  gpgsign = true

[gpg]
  format = ssh

[alias]
	cleanup = "!git branch --merged | grep -Ev '(^\\*|master|main|dev)' | xargs git branch -d"
