export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
DISABLE_AUTO_UPDATE="true"

EDITOR=vim

plugins=(zsh-autosuggestions zsh-syntax-highlighting)

# Add additional paths
export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/.local/scripts:$PATH"
export PATH="$HOME/.local/share/fnm:$PATH"
{{ if (or (eq .chezmoi.hostname "LAPTOP-QUENTIN") (eq .chezmoi.hostname "laptop-quentin")) }}
# config perso
# export PATH="$HOME/.symfony5/bin:$PATH"
export PATH="$HOME/.fzf/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
source "$HOME/.cargo/env"
export DENO_INSTALL="$HOME/.deno"
export PATH="$DENO_INSTALL/bin:$PATH"
{{ end }}

alias vim="nvim"
alias tms="tmux-sessionizer"
alias lg="lazygit"

# Replace slow commands
alias ls="eza"
alias ll="eza -lh"
alias l="eza -lah"
alias cat='bat'

# Git clean merged branches
alias gcmb='git branch --merged | grep -Ev "(^\*|master|main|dev)" | xargs git branch -d'
alias docker-off='docker rm $(docker ps -a -q) --force'

source $ZSH/oh-my-zsh.sh

# Initialize starship
eval "$(starship init zsh)"

# fnm
eval "$(fnm env --use-on-cd)"

# zoxide
eval "$(zoxide init zsh)"
