[init]
  defaultBranch = main

[core]
  editor = vim
  eol = lf
  autocrlf = input

[push]
  autoSetupRemote = true
  default = current
  followTags = true

[pull]
  rebase = true

[rebase]
  autoStash = true

[commit]
  gpgsign = true

[gpg]
  format = ssh

[alias]
	cleanup = "!git branch --merged | grep -Ev '(^\\*|master|main|dev)' | xargs git branch -d"

[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
